<%= image_tag "favicon.png", :alt => "Tabel Periodik", :style => "margin-top: 20px" %>
<h1>{API Sismul}</h1>
<p>{"Akses kontak": "<a href="mailto:adisaripuloh@gmail.com">Adi Saripuloh</a>"}</p>

<% if logged_in? %>
  <%= link_to 'Beranda', admin_path %>
<% end %>
